@media (min-width: 600px) {
    .svg {
      width: 75% !important;
      display: block;
      margin: auto;
      overflow: hidden;
    }
}
@media (min-width: 900px) {
    .svg {
      width: 45% !important;
      display: block;
      margin: auto;
      overflow: hidden;
    }
}